@import './root.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans Courier New', Courier, monospace;

}

#root {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: solid 2px var(--primary-color);
}

a:hover {
    transform: scale(1.1);
    color: white;
    border-radius: 5px 20px 5px;
    background: var(--primary-color);
}

.link_container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 50%;
}

h1 {
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    width: 100%;
}

ul {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: center;
    border-radius: 10px;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    list-style: none;
    animation: cardPop 0.4s ease-in;
    box-shadow: var(--box-shadow);
}

p {
    text-align: start;
}

img {
    width: 100%;
    border-radius: 10px;
    margin: 5px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
}

.edit_button {
    margin: 5px;
    font-weight: bold;
    background: none;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.edit_button:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.delete_button {
    margin: 5px;
    background: none;
    font-weight: bold;
    color: red;
    border-radius: 10px;
    border: 1px solid red;
}

.delete_button:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

.modal_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    background: none;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.modal_deleteButton {
    margin: 5px;
    padding: 5px;
    font-size: 2em;
    cursor: pointer;
    text-decoration: none;
    background: none;
    text-align: center;
    border-radius: 10px;
    border: solid 2px var(--primary-color);
}

.modal_closeButton {
    margin: 5px;
    padding: 5px;
    font-size: 2em;
    cursor: pointer;
    background: none;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: solid 2px var(--primary-color);
}

.modal_deleteButton:hover {
    transform: scale(1.1);
    color: white;
    border-radius: 5px 20px 5px;
    background: var(--primary-color);
}

.modal_closeButton:hover {
    transform: scale(1.1);
    color: white;
    border-radius: 5px 20px 5px;
    background: var(--primary-color);
}

.popModal_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    right: 100px;
    width: 200px;
    height: 100px;
    animation: popModal 1s;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}

@keyframes popModal {
    0% {
        right: -100px;
    }

    100% {
        right: 100px;
    }
}

@keyframes cardPop {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 800px) {
    a {
        background: red;
        font-size: 10px;
        margin: 5px;
    }

    h1 {
        font-size: 15px;
    }

    .link_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    ul {
        grid-template-columns: 1fr;
    }
}