* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: center;
    border: 2px solid black;
}

li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    list-style: none;
}

img {
    width: 100px;
    margin: 5px;
}