@import './root.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans Courier New', Courier, monospace;

}

#root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

h1 {
    background-color: var(--primary-color);
    text-align: center;
    width: 100%;
    color: white;
}

form {
    width: 50%;
    padding: 10px;
    text-align: start;
    font-size: 2em;
    box-shadow: var(--box-shadow);

}

input {
    width: 100%;
    border-radius: 5px;
}

label{
    font-size: 0.5em;
}

input:focus{
    outline-color: var(--primary-color);
}

textarea {
    width: 100%;
    border-radius: 5px;

}

textarea:focus {
    outline-color: var(--primary-color);
}

button {
    width: 100%;
    height: 50PX;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: var(--secondary-color);
}

button:hover{
   cursor: pointer;
   box-shadow: var(--box-shadow);
}

a{
    width: 100%;
    text-align: center;
    margin: 10px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
}