@import './root.css';

* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    
}

h1 {
    background-color: var(--primary-color);
    text-align: center;
    width: 100%;
    color: white;
}

form {
    width: 50%;
    padding: 10px;
    text-align: start;
    font-size: 2em;
    box-shadow: var(--box-shadow);

}

input {
    width: 100%;
}

input:focus{
    outline-color: var(--primary-color);
}

textarea {
    width: 100%;
}

textarea:focus {
    outline-color: var(--primary-color);
}

button {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
}

button:hover{
   cursor: pointer;
   box-shadow: var(--box-shadow);
}

a{
    width: 100%;
    text-align: center;
}

footer {
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
}